extends layout
include _includes/mixins
block content
  .page-header
    .row
      .col-sm-12  
        h1 #{pageHeader.title} &nbsp;
          small #{pageHeader.strapline}
  .error= errormessage
  .row 
    .col-sm-8.col-xs-12.list-group
      each location in locations
        .row.list-group-item
          a(href='/location')= location.name
          &nbsp;&nbsp;&nbsp;&nbsp;
          +outputRating(location.rating)
          span.badge.pull-right= location.distance + 'm'
          p= location.address
          p 
            each facility in location.facilities
              span.label.label-info= facility 
              &nbsp;
    .col-sm-4 
      p.lead= sidebar 

