extends layout
include _includes/mixins
block content
  .page-header
    .row
      .col-sm-12  
        h1 #{pageHeader.title} &nbsp;
          small #{pageHeader.strapline}
  .row 
    .col-sm-8.col-xs-12.list-group
      each location in locations
        .row.list-group-item
          a(href='/location')= location.name
          &nbsp;&nbsp;&nbsp;&nbsp;
          +outputRating(location.rating)
          span.badge.pull-right= location.distance + 'm'
          p= location.address
          p 
            each facility in location.facilities
              span.label.label-info= facility 
              &nbsp;
    .col-sm-4 
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.

