extends layout

include _includes/mixins

block content
    .row.page-header
        h1= name 
    .row
        .col-sm-8.col-xs-12
            .row
                .col-sm-6.col-xs-12
                    .row
                        p
                            +outputRating(rating)
                        p= address
                    .row    
                        .panel.panel-primary
                            .panel-heading 
                                h4.panel-title Opening hours
                            .panel-body
                                each hour in hours
                                    p= hour
                                
                    .row 
                        .panel.panel-primary
                            .panel-heading 
                                h4.panel-title Facilities
                            .list-group-item
                                each facility in facilities
                                    span.label.label-warning 
                                        span.glyphicon.glyphicon-ok
                                        | #{facility}    
                                    &nbsp;
                .col-sm-6.col-xs-12.location-map
                    .panel.panel-primary 
                        .panel-heading 
                            h4.panel-title Map
                        .panel-body 
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,- 0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
            .row
                .panel.panel-primary
                    .panel-heading 
                        a.btn.btn-default.btn-xs.pull-right(href='/location/review/new') Add review
                        h4.panel-title Customer reviews
                    .panel-body.review-container
                        each review in reviews
                            .row
                                .review
                                    .well.well-sm.review-header
                                        +outputRating(review.rating)
                                        span.reviewAuthor= review.name
                                        small.reviewTimestamp= review.date
                                    .col 
                                        p= review.text 
        .col-sm-4.col-xs-12
            p.lead= sidebar
  
